#title{
    text-align: center;
}

.logo{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 30%;
}

.nav_top{
    background-color: rgb(51, 185, 152);
    overflow: hidden;
}

#userlogo,#logout{
    float: right;
}

#userlogo{
    width: 50px;
    height: 50px;
}

.nav_top a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav_top a:hover{
    background-color: #ddd;
    color: black;
}

.nav_top a.active{
    background-color: #939997;
    color: white;
}